<!DOCTYPE html>
<html>
<title>Robin</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css'>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
</style>
<body class="w3-light-grey">
<!-- Page Container -->

        <nav class="navbar">
          <div class="container">
              <div class="navbar-brand">
                  <a class="navbar-item" href="../">
                          Robin
                      </a>
                  <span class="navbar-burger burger" data-target="navbarMenu">
                          <span></span>
                  <span></span>
                  <span></span>
                  </span>
              </div>
              <div id="navbarMenu" class="navbar-menu">
                  <div class="navbar-end">
                      <a class="navbar-item is-active">
                              Home
                          </a>
                      <a class="navbar-item">
                              projects
                          </a>
                      <a class="navbar-item">
                              Resume
                          </a>

                  </div>
              </div>
          </div>
        </nav>
        <section class="hero is-primary" >
        <div class="hero-body">
        <div class="container">
        <h1 class="title">
          Projects
        </h1>
        <h2 class="subtitle">
          {{ page.title }}
        </h2>
        </div>
        </div>
        </section>
</body>
</html>
