---
layout: "headerfooter"
---
<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

  <!-- The Grid -->
  <div class="w3-row-padding">

    <!-- Left Column -->
    <div class="w3-third">

      <div class="w3-white w3-text-grey w3-card-4">
        <div class="w3-display-container">
          <img src="{% for files in site.static_files %}
            {% if files.image %}
              {{ files.path }}
            {% endif %}
          {% endfor %}" style="width:100% " alt="Avatar">
        </div>
        <section class="section">
        <div class="w3-container">
            <h3 class="subtitle is-3" style="color: #009688"><b>Rajnish Kumar Robin</b></h3 >
          <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>Software Engineer</p>
          <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>Bihar, India</p>
          <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>rajnish.robin@gmail.com</p>
          <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i>8800939847</p>
          <hr>

          <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Skills</b></p>
          <p>Python, Java, C</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:85%">85%</div>
          </div>
          <br>
          <p>Android, React Native, Linux</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:70%">
              <div class="w3-center w3-text-white">70%</div>
            </div>
          </div><br>
          <p>Apache Hadoop, Kafka, Hive, Spark</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:60%">60%</div>
          </div><br>
          <p>Octave, Matlab</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:50%">50%</div>
          </div>
          <br>

          <p class="w3-large w3-text-theme"><b><i class="fa fa-globe fa-fw w3-margin-right w3-text-teal"></i>Languages</b></p>
          <p>English</p>
          <div class="w3-light-grey w3-round-xlarge">
            <div class="w3-round-xlarge w3-teal" style="height:24px;width:70%"></div>
          </div>
          <p>Hindi</p>
          <div class="w3-light-grey w3-round-xlarge">
            <div class="w3-round-xlarge w3-teal" style="height:24px;width:85%"></div>
          </div>
          <br>
        </div>
        </section>
        </div><br>
      <!-- End Left Column -->
    </div>

    <!-- Right Column -->

    <div class="w3-twothird">
      <div class="w3-container w3-card w3-white w3-margin-bottom">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-user fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Summery</h2>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Profile</b></h5>
          <div class="content" style="text-align:justify">
            <p> I am a persistent learner inspired to be a computer scientist. The student with real problem-solving abilities and
              having lenses to visualize problems from the perspective of technology. As a fresher, I have the enthusiasm and energy to learn, work and adapt to any scenarios.
              I Freelance as a Software developer. My interests lie in the data science, machine learning, and big data technologies.
              </p>
             <p>All my projects are a reflection of my imagination/innovation.</p>
          </div>
        <hr>
        </div>
      </div>
      <div class="w3-container w3-card w3-white w3-margin-bottom">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Work Experience</h2>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Software Devlopment / CII Ready Reckoner</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>April 2018 - <span class="w3-tag w3-teal w3-round">Current</span></h6>
          <br><p>Built a cross platform mobile application which provides a bird’s eye view of the entire economy across a
            range of parameters including GDP growth, industrial production, inflation, investment, capacity utilization,
            credit growth, NPAs, Exchange Rate, foreign trade and markets.</p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Freelancer / Paavni Organic</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jan 2018 - May 2018</h6>
          <br><p>Built a complete ERP for our client.<br>
            Paavni organic is a startup which deals in organic farming. we helped him by providing an IT infrastructure where it can manage everything from procurement to sales just by using an android app.</p>
          <hr>
        </div>
      </div>
      <div class="w3-container w3-card w3-white w3-margin-bottom">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-graduation-cap fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Education</h2>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>NIIT University, Neeemrana RJ</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Aug 2015 - <span class="w3-tag w3-teal w3-round">Current</span></h6>
          <p><li>Bachelor of Technology in Computer Science and Engineering</li></p>
          <p><li>Cumulave  Grade  Point  Average : 8.03</li></p>
        <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>St. V.R.R.K Vidyalaya, Bihar</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2013 - 2015</h6>
          <p><li>Intermidate degree</li></p>
          <p><li>BSEB Percentage: 78%</li></p>
          <hr>
        </div>
      </div>

    <!-- End Right Column -->
    </div>

  <!-- End Grid -->
  </div>

  <!-- End Page Container -->
</div>
