---
layout: "headerfooter"
---

<section class="hero is-primary">
<div class="hero-body">
  <div class="container">
    <h1 class="title is-1">
      Resume
    </h1><br>
    <h2 class="subtitle">
        This can be used as an official CV by prospective employer.
      </h2>
  </div>
</div>
</section>
<br><br>
<section class="section">
  <div class="container">

        <object data="/MyResume.pdf" type="application/pdf" width="700px" height="900px" style="display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;">
          <embed src="/MyResume.pdf">
              <p>This browser does not support PDFs. Please download the PDF to view it: <a href="/MyResume.pdf">Download PDF</a>.</p>
          </embed>
      </object>
    </div>
</section>
